body{
    margin: 0%;
    padding: 0%;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
}

#root{
    width: 60%;
    display: flex;
    justify-content: center;
    color: rgb(165, 160, 154);
}

#root div{
    width: 80%;
    text-align: center;
}

.menor{
    color: red;
}

.mayor{
    color: greenyellow;
}

button{
    margin: 2%;
    width: 15%;
}